html {
	background-color: lightgray;
	margin: 30px;
}

body {
	margin: 30px;
}

.paragraph {
	border: solid #AAAFFF 5px;
	padding: 10px;
	background-color: lightcyan;
	font-family: Josefin Sans;
	line-height: 25px;

}

div.list-border {
	border: solid #AAAFFF 5px;
	padding: 10px;
	background-color: lightcyan;

}

.introduction {
	color: blue;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: 10px;
}

.title-segment {
	background-color: lightskyblue;
}

.misc {
	font-size: 10px;
}
.misc p {
	border: 0;
	background: 0;
	padding: 0;
}